@font-face {
    font-family: myfont;
    src: url(../font/b_bagian/bBagian.ttf) format('woff2');
}
html{
    scroll-behavior: smooth;
    
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;

}
     /* header */

#header{
    position: relative;
    background-image: url(../image/Rectangle\ 3.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;

}     
.navbar {
  max-height: 104px;
}
.navbar .link:hover {
  color: rgba(255, 165, 9, 1) !important;
}
.navbar .nav-link {
  color: white !important;
  /* font-family: bolds; */
  font-size: 16px;
  font-weight: 700;
  line-height: 21.86px;
  text-align: left;
}
.contact-btn {
  font-family: bolds;
  border: none;
  background-color: #006FF9;
  outline: none;
  width: 159px !important;
  color: white;
  min-height: 29px;
  /* max-height: 44px; */
    border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-btn:hover {
  background-color: #FFA509;
}

/* .contact-btn button {
  min-height: 42px;
} */
.contact-btn::after {
  content: url(../image/Group\ 1.svg);
  position: relative;
  top: 2px;
  left: 20px;
}
#contact .nav-items .nav-link:hover {
  color: rgba(255, 165, 9, 1) !important;

}
.submit-btn:hover{
background-color: #FFA509;
}
.submit-btn{
    border: none !important;
}
.submit-btn::after {
  content: url(../image/Group\ 1.svg);
  position: relative;
  top: 2px;
  left: 20px;
}
.main-banner{
    position: relative;
    top: 40%;
    font-size: rem;
}
.main-banner p{
font-size: 24px;
font-weight:500;
}
.main-banner h3{
     font-size: 48px;
  font-weight: 700;
  /* line-height: 65.57px; */
}

.explore{
    font-family:'myfont';
    font-size: 6rem;
}
.scrach-img {
  position: relative;
  bottom: 16px;
  width: 100%;
}

.about {
padding-top: 5px !important;
}

.about h3 {
  font-family: 'myfont';
  font-size: 40px;
  font-weight: 400;
  line-height: 43.59px;
  letter-spacing: 5px;
  color: #1B1B1B;
  /* margin-bottom: 0px; */
}
.about h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding: 25px 0;
  color: #393939;
}
.about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  line-height: 26px;
  color: #393939;
  margin-bottom: 0px;

}
.about-content {
  max-width: 585px;
}
.about-banner {
  position: relative;
  bottom: 75px;
}
.about-banner img {
  width: 100%;
}
.sticky {
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 100;
  cursor: pointer;
}
.main {
  background-image: url(../image/CONTOUR\ LINES.svg);
  background-position: -3% 39%;
  background-repeat: no-repeat;
  background-size: 35%;
}
.trips {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  padding-bottom: 120px;
  padding-top: 50px;


}
.all-trip {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 103px;
  min-height: 112px;
  border-radius: 5px;

}
.all-trip:hover {
  border: 1px solid #FFA509;
  color: #FFA509;

}
.all-trip p {
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: 2px;
  font-weight: 400;
}
.trips #vehicle-safari {
  width: 116px;

}
.trips div {
  width: 103px;
  min-height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
}
.trips div p {
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-top: 10px;
}
.trips div:hover {
  border: 1px solid #FFA509;

}
.card {
  overflow: hidden;
  
}
.card-img-top:hover {
  transform: scale(1.1);
}
.card-img-top {
  transition: transform 0.5s ease;
}


.trips div:hover p {
  color: #FFA509;
}
#expeditions h3{
  font-family: 'myfont';
  font-size: 3rem;
}
#expeditions{
    padding-top: 80px;
}
.trip-button {
  border: 1px solid transparent;
  cursor: pointer;
}
.trip-button.active {
  border-color: #FFA509;
}
.trips div img {
  max-width: 60px;
  min-height: 60px;
}
.card-banner {
  width: 100%;
}
.card-body {
  padding: 15px 0 !important;
}
.card-btn {
  padding: 3px 20px;
  background-color: rgba(236, 156, 18, 0.699);
  font-family: medium-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  letter-spacing: 0.055em;
  border-radius: 3px;
}
.trip-details span {
  font-weight:bolder;
}
.cards p {
  margin-bottom: 2rem;
}
.card-title {
  font-family: medium-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.32px;
  letter-spacing: 0.055em;
  text-align: left;
}
.card-text {
  font-family: medium-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  letter-spacing: 0.055em;
  color: rgba(57, 57, 57, 1);
}
.expeditions-header .col-2 {
  width: auto;
  min-width: 103px;
  min-height: 112px;
}
.expeditions-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* gallery */
.gallery {
  /* background-color:black; */
  background-image: url(../image/dark-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0 0px 0;
}
.gallery .row img {
  width: 100%;
  height: 100%;
}
.img-over{
  overflow: hidden;
  border-radius: 10px;
}
.col-md-7{
  flex-direction: column;
  display: flex;
  row-gap: 30px;
}
.gallery h3 {
  font-family:'myfont';
  font-size: 36px;
  font-weight: 400;
  line-height: 39.23px;
  letter-spacing: 0.02em;
}
.gallery p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 52px;
}
/* .ocean {
  /* padding-bottom: 3rem; */
.gallery .row div {
  overflow: hidden;
}
.gallery .row img:hover {
  transform: scale(1.1);
}
.gallery .row img {
  transition: transform 0.5s ease;
}
/* faq */
.paddingbtn{
  padding-bottom: 150px !important;
}
.head-section h3{
    font-family: 'myfont';
    font-size: 2.5rem;
}
.accordion-item{
    border-left: none !important;
    border-right: none;
    font-size: 20px;

}
.accordion-header button{
    font-size: 30px !important;
    padding: 20px;
    font-weight: lighter;

}
.faq-section .accordion-button:not(.collapsed) {
 background: none;
 box-shadow: none;
 color: black;


}
/* contactform */
/* contact */
.contact-section {
  background-image: url(../image/Dark\ mountain.png);
  min-height: 887px;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-section label {
  position: relative;
      padding: 10px 0px;
     color: #fff;
     left: 0;
     top: 0;
 
}

/* .contact .container {
  position: relative;
  padding: 20px 100px;
  max-width: 1095px;
} */
.contact-section h2 {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  font-size: 36px;
  line-height: 39.23px;
  letter-spacing: 2px;
  font-family: 'myfont';
  font-weight: 400;
}
#cols {
  border-radius: 0px 10px 25px 0px;
  box-shadow: 0px 4px 4px 0px rgba(23, 23, 23, 0.25);
  height: 558px; 
  width: 717px;
  background: #ffffff00;
  backdrop-filter: blur(7px);
  padding: 0px 29px;
  
}
.contact-section img {
  width: 100%;
  height: 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
  resize: none;
border-radius: 5px;
}
.contact-section .col-5 {
  width: 378px;
  height: 558px;
}
.social-links{
  background-color:black;
}
.social-linkslogo{
  display: flex;
  justify-content: center
}
.social-linksindex{
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 50px;
  padding: 20px;
  margin-top: 20px;

}
.social-linksicon{
  display: flex;
  justify-content: center;
  gap: 1%;
  font-size: 1.5rem;
  padding-bottom:50px;

}
.social-linksicon a{
  text-decoration: none;
  color: #fff;
}
footer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px;
  border-top: 1px solid white;
}

@media (max-width:768px) {
    .main-banner{
        top: 10%;
    }
    .navbar-nav{
        background-color: black;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 10px;
        /* width: 100% ; */
        /* max-width:768px; */
    }
    .about-banner {
  position: relative;
  bottom: 15px;
}
.submit-btn{
  font-size: 13px;
}
.about{
    text-align: center;
}
 .trips {
    overflow-y: scroll;
    padding-bottom: 50px;
    padding-left: 20px;
    column-gap: 50px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.pad-btn{
    padding: 20px !important;
}
.card-btn{
  font-size: 12px;
}
.gallery{
    padding-top: 20px;
    padding-bottom: 10px;
}
.gallery .row img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding: 8px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .col-md-7{
  row-gap: 0px;
}
.head-section p{
/* width: 100%; */
font-size: 14px;
}
.accordion-header button{
    font-size: 20px !important;
}
.accordion-body p{
    font-size: 15px;
}
.contact-section h2{
  color: #fff;
}
.contact-section img{
  /* height: 80%; */
  border-radius: 10px;
}
.contact-section .col-5 {
  width: 378px;
  height: 400px;
}
.social-linksindex{
  display: none;
}
.social-links{
  padding: 20px;
}
.social-linksicon{
  margin-top: 20px;
}
footer span{
  font-size: 13px;
}
}